# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# SQLite database
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Logs
*.log

# Frontend
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
